@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Outfit:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: "Bangers", cursive;
  --font-sans: "Outfit", sans-serif;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
